/* div{
    background-color: red;
}
span{
    background-color: burlywood;
}

hr{
    width: 100px;
    height: 2px;
    background-color: purple;
}

a:link{
    color: red;
}

a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    color: brown;
    font-size: 2rem;
    text-decoration: none; 
}

a:active{
    color: yellow;
    text-decoration: none;
} */